*{
  margin: 0;
}

body {
  background-image: url(https://www.mordeo.org/files/uploads/2019/09/El-Camino-A-Breaking-Bad-Movie-2019-4K-Ultra-HD-Mobile-Wallpaper-950x1689.jpg);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}